
body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

.search-field {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Adjust the spacing between the search icon and input field */
  width: 400px; /* Adjust the width as needed */
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
@media screen and (max-width: 768px) {
  .search-field {
    max-width: 300px; /* Decrease the maximum width for smaller screens */
  }
}

@media screen and (max-width: 640px) {
  .search-field {
    max-width: 200px; /* Further decrease the maximum width for even smaller screens */
  }
}

@media screen and (max-width: 540px) {
  .search-field {
    max-width: 20%; /* Further decrease the maximum width for even smaller screens */
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .icon {
  cursor: pointer;
  margin-right: 15px;
}

@media screen and (max-width: 542px) {
  .header-right .icon {
    margin-right: 8px; /* Decrease margin between icons for smaller screens */
    font-size: 18px; /* Decrease icon size for smaller screens */
  }
}

/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
  margin: 15px 0;
}
.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Modern box shadow */
  transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

@media screen and (max-width: 1400px) {
  .card {
    font-size: 12px;
    font-weight: 300;
    width: 70%;
    padding: 10px;
  }
  .main-cards {
    gap: 10px;
    margin: 5px;
  }
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.user-main-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  width: 300px;
  transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
}

.user-card:hover {
  transform: scale(1.05); /* Scale up on hover for a subtle interactive effect */
}

.user-card:first-child {
  background-color: #4285f4; /* Modern blue */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.user-card:nth-child(2) {
  background-color: #ff4081; /* Modern pink */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: scale(1.05); /* Scale up on hover for a subtle interactive effect */
}

.card:first-child {
  background-color: #4285f4; /* Modern blue */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card:nth-child(2) {
  background-color: #ff4081; /* Modern pink */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card:nth-child(3) {
  background-color: #4caf50; /* Modern green */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card:nth-child(4) {
  background-color: #ff9800; /* Modern orange */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}




.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 769px) {
   .main-cards {
    display: flex; /* Change to flex layout */
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    gap: 10px;
    margin-bottom: 0;
  }

  .user-card {
    width: 70%; /* Each card takes 70% of the available width */
  }
  .user-main-cards {
    display: flex; /* Change to flex layout */
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    gap: 10px;
    margin-bottom: 0;
  }

  .card {
    width: 70%; /* Each card takes 70% of the available width */
  }
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}